<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/output.css">
    <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
/>
</head>
<body class="flex w-full">
  <% if(error.length>0){%>
      <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-red-500 z-10">
        <span class="inline-block mt-1 mb-1 text-white">
          <%=error%>
        </span>
      </div>
    <%} %>
    <% if(success.length>0){%>
      <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-green-500 z-10">
        <span class="inline-block mt-1 mb-1 text-white">
          <%=success%>
        </span>
      </div>
    <%} %>
    <nav
      class="flex flex-col justify-start gap-50 items-center px-8 pt-20 border-r-2 w-max bg-white min-h-screen animate-slide-down"
    >
      <h1 class="text-5xl font-extrabold animate-float">Ghoripara</h1>
      <ul class="flex flex-col items-center justify-center gap-10 text-xl">
        <a href="/owners/all"><li class="nav-link">All Products</li></a>
        <a href="/owners/generate"> <li class="nav-link">Create New Product</li></a>
        <a href="/logout"><li class="nav-link">Logout</li></a>
      </ul>
    </nav>
    <div class="p-10 w-full flex justify-center gap-6 flex-wrap">
      <% if(products.length!==0){ %>
        <% products.forEach((product, index)=>{ %>
            <div class="min-h-max h-150 w-100 shadow-2xl mb-4 card-hover animate-fade-in-up" style="animation-delay: <%= index * 100 %>ms">
              <img src="data:<%= product.image.mimetype %>;base64,<%= product.image.buffer.toString('base64')%>" class="block mx-auto object-center w-max h-100 image-zoom" alt="prodPic">
              <div class="w-full border-t-2 flex px-6 py-6 flex-col">
                <div class="flex justify-between items-center">
                  <p class="text-xl w-3/4 font-semibold truncate"><%=product.name %></p>
                  <% if (product.discount !==0){ %>
                    <div class="flex flex-col">
                      <p class="text-md text-gray-600 line-through">&#8377;<%=product.price %></p>
                      <p class="text-lg">&#8377;<%=product.discount %></p>
                    </div>  
                  <% } else{ %>
                    <div class="flex flex-col">
                      <p class="text-md text-gray-600 line-through">&#8377;<%=product.price %></p>
                      <p class="text-lg">&#8377;<%=product.price %></p>
                    </div>
                  <%} %>
                </div>
                <a href="" class="text-2xl cursor-pointer font-semibold rounded-full size-15 text-center flex items-center justify-center bg-red-500 text-white self-end relative -bottom-10"><i class="fa-solid fa-trash"></i></a>
              </div>
            </div>
        <% }) %>
      <% } else{ %>
        <p class="text-4xl font-extralight mt-5 text-gray-300">No Products Yet</p>
      <% } %>
    </div>
  </body>
</html>